h1{
    color: black;
    font-weight: 700;
    font-family: Georgia, serif
}
h3{
    font-style: italic;
    font-weight: 600;
    color: darkgreen;
}
h2{
    font-weight: 600;
    text-decoration: underline;
    color: indigo;
}
h4{
    font-weight: 500;
    color: Red;
}
#header{
    position: relative;
    height: 50px;
    width: 400px;
    background-color: thistle;
}
#footer{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: thistle;
}
table{
    width: 900px;
    height: 1000px;
    align: center;
    background-color: pink;
}
.td1{
    width: 200px;
    height: 750px;
    padding-left: 10px;
    background-color: mistyrose;
}
.td2{
    width: 450px;
    height: 750px;
    padding-left: 10px;
    background-color: white;
}
.center{
    margin-left: auto;
    margin-left: auto;
}